<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <p class="page-nav-p pull-left">
        <b>Widgets</b>
      </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="new" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-plus pull-right"></button>
      </a>
    </div>
  </div>
</div>

<!--Content-->
<div class="widget-content">
  <ul class="widget-ul">
    <li class="widget-li">
      <div class="widget-toolbar">
        <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
        <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
      </div>
      <div class="widget-header">
        <p>Joshua</p>
      </div>
    </li>
    <li class="widget-li">
      <div class="widget-toolbar">
        <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
        <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
      </div>
      <div class="widget-image">
        <img src="http://res.cloudinary.com/db2iplwjn/image/upload/v1506282955/821027_jay2yb.png">
      </div>
    </li>
    <li class="widget-li">
      <div class="widget-toolbar">
        <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
        <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
      </div>
      <div class="widget-youtube">
        <iframe src="https://www.youtube.com/embed/YZg92Q12-iU"></iframe>
      </div>
    </li>
    <li class="widget-li">
      <div class="widget-toolbar">
        <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
        <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
      </div>
      <div class="widget-youtube">
        <iframe src="https://www.youtube.com/embed/YZg92Q12-iU"></iframe>
      </div>
    </li>
    <li class="widget-li">
      <div class="widget-toolbar">
        <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
        <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
      </div>
      <div class="widget-youtube">
        <iframe src="https://www.youtube.com/embed/YZg92Q12-iU"></iframe>
      </div>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <button class="widget-bottom-left-btn glyphicon glyphicon-play pull-left">
    <a routerLink="/profile/{{userId}}" class="navbar-link"></a>
  </button>
  <button class="widget-bottom-left-btn glyphicon glyphicon-eye-open pull-left">
    <a routerLink="/profile/{{userId}}" class="navbar-link"></a>
  </button>

  <a routerLink="/profile/{{userId}}" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>

</div>
