<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 nav-row">
      <p class="page-nav-p pull-left">
        <b>Home page</b>
      </p>
    </div>
  </div>
</div>

<!--Content-->
<div class="widget-content">
  <ul class="widget-ul">
    <li class="widget-li">
      <img
        class="home-pic"
        src="../../../assets/DSC_0525.JPG" />
    </li>
    <li class="widget-li">
      <h1>Yu Liu</h1>
    </li>
    <li class="widget-li">
      <label>Project location:</label>
      <a href="https://home-yuliu.herokuapp.com/">https://home-yuliu.herokuapp.com/</a>
    </li>
    <li class="widget-li">
      <label>Academic Projects </label>
      <p>Create Web App and RESTful API Server Using the MEAN Stack</p>
      <p>Machine Learning – Demand and supply analysis</p>
      <p>Optimizing route for BPS transportation challenge</p>
      <p>Toxicant Management Database System</p>
    </li>
    <li class="widget-li">
      <label>About Me</label>
      <p>With a Master’s degree in Computer Science, hands-on experience using Java to create and implement software
        applications and extensive experience of web development,I enjoy being challenged and working on projects that
        require me to work outside my comfort and knowledge set, as continuing to learn new languages and development
        techniques are important to me.
      </p>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <a class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
