
<div class="container-fluid">
  <!--Nav Bar-->
  <div class="nav-bar">
    <div class="container-fluid nav-container">
      <div class="row nav-row">
        <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs nav-left">
          <div class="row">
            <div class="nav-left-left pull-left col-xs-2 " href="website-ulist.html">
              <a routerLink="/profile/{{userId}}/website">
                <button class="glyphicon glyphicon-chevron-left nav-back pull-left website-nav-btn" >
                </button>
              </a>
            </div>
            <div class="nav-left-center col-xs-8">
              <p class="nav-p">Websites</p>
            </div>
            <div class="nav-left-right col-xs-2">
              <a routerLink="/profile/{{userId}}/website/new">
                <button class="glyphicon glyphicon-plus nav-plus" >
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 hidden-xs nav-right">
          <div class="row">
            <div class="col-xs-11 nav-right-left">
              <p class="nav-p ">Edit Website</p>
            </div>
            <div class="col-xs-1  nav-right-right nav-ok">
              <a>
                <button
                  (click)="updateWebsite(websitename.value, websitedescription.toString())"
                  class="glyphicon glyphicon-ok btn-white">
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 visible-xs nav-full">
          <div class="row">
            <div class="nav-left-left pull-left col-xs-2 " href="website-ulist.html">
              <a routerLink="/profile/{{userId}}/website">
                <button class="glyphicon glyphicon-chevron-left nav-back" >
                </button>
              </a>
            </div>
            <div class="nav-left-center col-xs-8">
              <p class="nav-p">Websites</p>
            </div>
            <div class="nav-left-right col-xs-2 nav-ok">
              <button
                (click)="updateWebsite(websitename.value, websitedescription.toString())"
                class="glyphicon glyphicon-ok nav-ok-btn" >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Contnet-->
  <div class="content container-fluid">
    <div class="row">
      <div class="content-left hidden-xs col-sm-4 col-md-4 col-lg-4">
        <div class="website-content" *ngFor="let website of websites">
          <ul>
            <li class="menu">
              <a routerLink="/profile/{{userId}}/website/{{website['_id']}}/page">
                <button >
                  {{website['name']}}
                </button>
              </a>
              <a routerLink="/profile/{{userId}}/website/{{website['_id']}}" >
                <button class="menu-btn pull-right glyphicon glyphicon-cog"></button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-right col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p class="content-title">Website Name</p>
        <input placeholder="Blogger"
               type="text"
               #websitename
               class="form-control">
        <p class="content-title">Website Description</p>
        <textarea type="text"
                  #websitedescription
                  class="form-control input-description" rows="5" placeholder="Description"></textarea>
        <a class="btn btn-block btn-delete" (click)="deleteWebsite()">Delete</a>
      </div>
    </div>
  </div>

  <!--Bottom Bar-->
  <div class="bottom">
    <button class="nav-btn glyphicon glyphicon-user pull-right">
      <a routerLink="/profile/{{userId}}" class="navbar-link"></a>
    </button>
  </div>
</div>
