
<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page"
         class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <p class="page-nav-p pull-left">
        <b>Edit Page</b>
      </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
      <a class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-ok pull-right"
                (click)="updatePage(pagename.value, pagetitle.value)"
                routerLink="/profile/{{userId}}/website/{{websiteId}}/page" ></button>
      </a>
    </div>
  </div>
</div>

<!--Content-->
<div class="page-content">
  <ul>
    <li class="page-content-title page-li">
      <p class="pull-left menu-p">Name</p>
    </li>
    <li>
      <input placeholder="Page Name"
             #pagename
             class="page-content-input form-control">
    </li>
    <li class="page-content-title page-li">
      <p class="pull-left menu-p">Title</p>
    </li>
    <li>
      <input placeholder="Page Title"
             #pagetitle
             class="page-content-input form-control">
    </li>
    <li>
      <a
        routerLink="/profile/{{userId}}/website/{{websiteId}}/page"
        (click)="deletePage()"
        class="btn btn-block btn-delete">Delete</a>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <a routerLink="/profile/{{userId}}" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
