
<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="/profile/website" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <p class="page-nav-p pull-left">
        <b>Pages</b>
      </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="new" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-plus pull-right"></button>
      </a>
    </div>
  </div>
</div>

<!--Content-->
<div class="page-content">
  <!--<ul class="page-ul">-->
    <!--<li class="menu">-->
      <!--<a >-->
        <!--<p class="pull-left menu-p">Blog Post</p>-->
      <!--</a>-->
      <!--<a href="page-edit.html">-->
        <!--<span class="menu-btn pull-right glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="menu">-->
      <!--<a href="../widget/widget-list.html">-->
        <!--<p class="pull-left menu-p">Blogs</p>-->
      <!--</a>-->
      <!--<a href="page-edit.html">-->
        <!--<button class="menu-btn pull-right glyphicon glyphicon-cog"></button>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="menu">-->
      <!--<a href="../widget/widget-list.html">-->
        <!--<p class="pull-left menu-p">Home</p>-->
      <!--</a>-->
      <!--<a href="page-edit.html">-->
        <!--<button class="menu-btn pull-right glyphicon glyphicon-cog"></button>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="menu">-->
      <!--<a href="../widget/widget-list.html">-->
        <!--<p class="pull-left menu-p">About</p>-->
      <!--</a>-->
      <!--<a href="page-edit.html">-->
        <!--<button class="menu-btn pull-right glyphicon glyphicon-cog"></button>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->

  <ul class="page-ul" *ngFor="let page of pages">
    <li class="menu">
      <a routerLink="{{page['_id']}}/widget">
        <p class="pull-left menu-p">{{page['name']}}</p>
      </a>
      <a routerLink="{{page['_id']}}">
        <button class="menu-btn pull-right glyphicon glyphicon-cog"></button>
      </a>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <a routerLink="/profile" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
