
<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <p class="page-nav-p pull-left">
        <b>New Text Input</b>
      </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a class="navbar-link">
        <button
          (click)="createTextInput(name.value, text.value, placeholder.value, rows.value, formatted.checked)"
          class="page-nav-btn glyphicon glyphicon-ok pull-right"></button>
      </a>
    </div>
  </div>
</div>

<!--Content-->
<div class="widget-content">
  <ul class="widget-ul">
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Name</span>
      </div>
      <input class="widget-input form-control"
             #name
             type="text">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>rows</span>
      </div>
      <input class="widget-input form-control"
             #rows
             type="number">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Text</span>
      </div>
      <input class="widget-input form-control"
      type="text"
      #text
      placeholder="US Senate Reaches Compromise">
      <!--<quill-editor (change)="onContentChanged($event)"> </quill-editor>-->
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>PlaceHolder</span>
      </div>
      <input class="widget-input form-control"
             type="text"
             #placeholder
             placeholder="placeholder">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Formatted</span>
      </div>
      <input class="widget-input form-control"
             type="checkbox"
             #formatted>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <a routerLink="/profile/{{userId}}" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
