<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 nav-row">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 nav-row">
      <p class="page-nav-p pull-left">
        <b>Choose Widget</b>
      </p>
    </div>
  </div>
</div>

<!--Content-->
<div class="widget-content">
  <ul class="widget-ul">
    <li class="widget-li">
      <a href="widget-heading.html">
        <p>Header</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Label</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>HTML</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Text Input</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Link</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Button</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Image</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Youtube</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Data Table</p>
      </a>
    </li>
    <li class="widget-li">
      <a href="widget-header.html">
        <p>Repeater</p>
      </a>
    </li>
  </ul>
</div>

<!--Bottom Bar-->
<div class="page-bottom">
  <a routerLink="/profile/{{userId}}" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
