<!--Nav Bar-->
<div class="page-nav container-fluid nav-container">
  <div class="row nav-row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a routerLink="/profile/website/{{websiteId}}/page/{{pageId}}/widget/new" class="navbar-link">
        <button class="page-nav-btn glyphicon glyphicon-chevron-left pull-left"></button>
      </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <p class="page-nav-p pull-left">
        <b>New Image</b>
      </p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a class="navbar-link">
        <button
          (click)="createImage(name.value, text.value, url.value, width.value)"
          class="page-nav-btn glyphicon glyphicon-ok pull-right"></button>
      </a>
    </div>
  </div>
</div>

<!--Content-->
<div class="widget-content">
  <ul class="widget-ul">
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Name</span>
      </div>
      <input class="widget-input"
             #name
             type="text">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Text</span>
      </div>
      <input class="widget-input"
             #text
             type="text">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>URL</span>
      </div>
      <input class="widget-input"
             #url
             placeholder="https://github.com/joelgrus/data-science-from-scratch/blob/master/code/plot_state_borders.py"
             type="text">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Width</span>
      </div>
      <input class="widget-input"
             #width
             type="text"
             placeholder="100%">
    </li>
    <li class="widget-li">
      <div class="widget-input-title">
        <span>Upload</span>
      </div>
      <form    ngNoForm    action="http://localhost:3100/api/upload"   method="post"   enctype="multipart/form-data">
        <input      name=" myFile "         type="file"   class="form-control"/>
        <input      name=" widgetId "   value="{{widgetId}}"         style="display:   none"/>
        <input      name=" websiteId "   value="{{websiteId}}"         style="display:   none"/>
        <input      name=" pageId "   value="{{pageId}}"         style="display:   none"/>
        <input      name=" userId "   value="{{userId}}"         style="display:   none"/>
        <button   type="submit"   class="btn   btn-block   btn-primary" >Upload   Image</button>
        <br/>
      </form>
    </li>
    <!--<li>-->
      <!--<button   type="submit"   class="btn   btn-block   btn-primary">Upload   Image</button>-->
    <!--</li>-->
  </ul>
  <app-flickr-image-search></app-flickr-image-search>

</div>



<!--Bottom Bar-->
<div class="page-bottom">
  <a routerLink="/profile" class="navbar-link">
    <button class="page-bottom-btn glyphicon glyphicon-user pull-right"></button>
  </a>
</div>
